# Lean K3 5.15 Config

# set target system & profile
CONFIG_TARGET_bcm53xx=y
CONFIG_TARGET_bcm53xx_generic_DEVICE_phicomm_k3=y

# add default Extra packages
# CONFIG_PACKAGE_automount=y

# remove few default Applications
CONFIG_PACKAGE_ddns-scripts=n
CONFIG_PACKAGE_ddns-scripts_aliyun=n
CONFIG_PACKAGE_ddns-scripts_dnspod=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-nlbwmon=n
CONFIG_PACKAGE_luci-app-wrtbwmon=n
CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_luci-app-pptp-server=n

CONFIG_PACKAGE_luci-app-qbittorrent_static=n
CONFIG_PACKAGE_luci-app-qbittorrent-simple_dynamic=n

CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui=n
CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng=n
CONFIG_PACKAGE_luci-app-rclone_INCLUDE_fuse-utils=n

CONFIG_PACKAGE_luci-app-unblockmusic=y
CONFIG_PACKAGE_luci-app-unblockmusic_INCLUDE_UnblockNeteaseMusic_Go=y
# CONFIG_PACKAGE_UnblockNeteaseMusicGo=y
# CONFIG_UnblockNeteaseMusic_Go=n
# CONFIG_UnblockNeteaseMusicGo_INCLUDE_GOPROXY=n

# add default Applications
# CONFIG_PACKAGE_luci-app-adbyby-plus=y
# CONFIG_PACKAGE_luci-app-guest-wifi=y
# CONFIG_PACKAGE_luci-app-jd-dailybonus=y
# CONFIG_PACKAGE_luci-app-simple-adblock=y
CONFIG_PACKAGE_luci-app-statistics=y
# CONFIG_PACKAGE_luci-app-uhttpd=y
# CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-app-wifischedule=y
# CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-netgear=y
# CONFIG_PACKAGE_luci-app-sqm=y
# CONFIG_PACKAGE_sqm-scripts-extra=y

# add default Utilities
CONFIG_PACKAGE_collectd-mod-thermal=y

# add custom theme
CONFIG_PACKAGE_luci-theme-darkmatter=y

# add custom Applications
# CONFIG_PACKAGE_luci-app-adguardhome=y
# CONFIG_PACKAGE_luci-app-bypass=y
# CONFIG_PACKAGE_luci-app-dnsfilter=y
# CONFIG_PACKAGE_luci-app-vssr=y
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-passwall=n
CONFIG_PACKAGE_luci-app-passwall2=n
# CONFIG_BROOK_COMPRESS_UPX=n
# CONFIG_XRAY_CORE_COMPRESS_UPX=n
# CONFIG_XRAY_PLUGIN_COMPRESS_UPX=n
# CONFIG_PACKAGE_luci-app-mosdns=n
# CONFIG_PACKAGE_luci-theme-argon-mc=y
# CONFIG_PACKAGE_luci-app-argon-config=y
# CONFIG_PACKAGE_luci-theme-edge=y
# CONFIG_PACKAGE_luci-app-overwall=y
# CONFIG_PACKAGE_luci-app-tcpdump=y
